* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1c1c1c;
  color: #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}